@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}


@layer base {
  :root {
    --primary: "#E7E892";
    --secondary: "#000000";
  }

  .dark {
    --primary: "#000000";
    --secondary: "#E7E892"
  }
}